<div class="user-container">
  <div class="user-details-card">
    <div class="details">
      <div class="profile-info">
        <h1 class="username"><%= "#{@user.username}" %></h1>
        <p class="profile-text">Reviews:</p>
        <p class="profile-text">Votes:</p>
        <p class="profile-text">Most Played:</p>
      </div>

      <div class="console-logos">
        <i class="fa-brands console-logo fa-playstation"></i>
        <i class="fa-brands console-logo fa-xbox"></i>
        <i class="fa-solid console-logo fa-laptop"></i>
      </div>
    </div>

    <div class="profile-image">
      <%= image_tag("profile-pic.png", alt: "Profile Picture", class: "profile-image") %>
    </div>
  </div>
</div>

<div class="tab-container">
   <ul class="nav" id="gameTabs">
    <li class="nav-item">
      <a class="nav-link active" id="mygames-tab" data-bs-toggle="tab" data-bs-target="#mygames" aria-controls="mygames" aria-selected="true" href="#">My Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" id="wishlist-tab" data-bs-toggle="tab" data-bs-target="#wishlist" aria-controls="wishlist" href="#" tabindex="-1" aria-disabled="true">Wishlist</a>
    </li>
  </ul>
</div>

<div class="tab-content" id="gameTabsContent">
  <%# my games tab %>
  <div class="tab-pane fade show active" id="mygames">
    <% if @mygames.present? %>
      <% @mygames.each do |game| %>
      <div class="game-card">
      <img src="https://assets.xboxservices.com/assets/20/38/203850f5-1bed-4912-b25f-193ee890c97f.jpg?n=Fortnite_GLP-Page-Hero-1084_876951_1920x1080.jpg" alt="A game image"/>
        <div class="game-card-details">
          <h2><%= link_to "#{game.title}", game_path(game) %></h2>
          <h3><%= "#{game.genre}" %></h3>
          <p>Game Description Here</p>
        </div>
        <div class="game-card-rating">
          <p>Game Rating Here</p>
        </div>
      </div>
      <% end %>
    <% else %>
      <p>No Games Found</p>
    <% end %>
  </div>


  <%# wishlist tab %>
  <div class="tab-pane fade" id="wishlist">
    <% if @wishlists.present? %>
      <% @wishlists.each do |game| %>
      <div class="game-card">
      <img src="https://assets.xboxservices.com/assets/20/38/203850f5-1bed-4912-b25f-193ee890c97f.jpg?n=Fortnite_GLP-Page-Hero-1084_876951_1920x1080.jpg" alt="A game image"/>
        <div class="game-card-details">
          <h2><%= link_to "#{game.title}", game_path(game) %></h2>
          <h3><%= "#{game.genre}" %></h3>
          <p>Game Description Here</p>
        </div>
        <div class="game-card-rating">
          <p>Game Rating Here</p>
        </div>
      </div>
      <% end %>
    <% else %>
      <p>No Games Found</p>
    <% end %>
  </div>
</div>
