<div class="user-container">
  <div class="user-details-card">
    <div class="details">
      <div class="profile-info">
        <h1 class="username"><%= "#{@user.username}" %></h1>
        <p class="profile-text">Reviews:</p>
        <p class="profile-text">Votes:</p>
        <p class="profile-text">Most Played:</p>
      </div>

      <div class="console-logos">
        <i class="fa-brands console-logo fa-playstation"></i>
        <i class="fa-brands console-logo fa-xbox"></i>
        <i class="fa-solid console-logo fa-laptop"></i>
      </div>
    </div>

    <div class="profile-image">
      <%= image_tag("profile-pic.png", alt: "Profile Picture", class: "profile-image") %>
    </div>
  </div>
</div>

<div class="tab-container">
  <ul class="nav" id="gameTabs">
    <li class="nav-item" >
      <h2><a class="nav-link active" id="mygames-tab" data-bs-toggle="tab" data-bs-target="#mygames" type="button" role="tab" aria-controls="mygames" aria-selected="true">Game Collection</a></h2>
    </li>
    <li class="nav-item">
      <h2><a class="nav-link" id="wishlist-tab" data-bs-toggle="tab" data-bs-target="#wishlist" type="button" role="tab" aria-controls="wishlist" aria-selected="false">Wishlist</a></h2>
    </li>
    <li class="nav-item">
      <h2><a class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a></h2>
    </li>
  </ul>
</div>

<div class="tab-content" id="gameTabsContent">
  <!-- My Games Tab -->
  <div class="tab-pane fade show active" id="mygames" aria-labelledby="mygames-tab">
    <div class="search-container">
      <% if @mygames.any? %>
        <% @mygames.each do |my_game| %>
          <%= link_to game_path(my_game.game) do %>
            <div class="game-card">
              <img src="https://assets.xboxservices.com/assets/20/38/203850f5-1bed-4912-b25f-193ee890c97f.jpg?n=Fortnite_GLP-Page-Hero-1084_876951_1920x1080.jpg" alt="A game image"/>
              <div class="game-card-details">
                <h2><%= my_game.game.title %></h2>
                <h3><%= my_game.game.genre %></h3>
                <p>Game Description Here</p>
              </div>
              <div class="game-card-rating">
                <p>Game Rating Here</p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="no-games">
          <h1>No Games Found</h1>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Wishlist Tab -->
  <div class="tab-pane fade" id="wishlist" aria-labelledby="wishlist-tab">
    <% if @wishlists.any? %>
      <% @wishlists.each do |wishlist| %>
        <h2><%= link_to game_path(wishlist.game) %></h2>
        <div class="game-card">
          <img src="https://assets.xboxservices.com/assets/20/38/203850f5-1bed-4912-b25f-193ee890c97f.jpg?n=Fortnite_GLP-Page-Hero-1084_876951_1920x1080.jpg" alt="A game image"/>
          <div class="game-card-details">
            <h2><%= wishlist.game.title %></h2>
            <h3><%= wishlist.game.genre %></h3>
            <p>Game Description Here</p>
          </div>
          <div class="game-card-rating">
            <p>Game Rating Here</p>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="no-games">
        <h3>No Games Found</h3>
      </div>
    <% end %>
  </div>

<!-- Reviews Tab -->
  <div class="tab-pane fade" id="reviews" aria-labelledby="reviews-tab">
    <div class="search-container">
      <% if @reviews.present? %>
        <% @reviews.each do |review| %>
          <div class="review-card">
            <h2><%= link_to review.game.title, game_path(review.game) %></h2>
          </div>
        <% end %>
      <% else %>
        <div class="no-games">
          <h1>User has left no reviews</h1>
        </div>
      <% end %>
    </div>
  </div>
</div>
