<div class="user-container">
  <div class="user-details-card">
    <div class="details">
      <div class="profile-info">
        <h1 class="username"><%= "#{@user.username}" %></h1>
        <p class="profile-text">Reviews:</p>
        <p class="profile-text">Votes:</p>
        <p class="profile-text">Most Played:</p>
      </div>

      <div class="console-logos">
        <i class="fa-brands console-logo fa-playstation"></i>
        <i class="fa-brands console-logo fa-xbox"></i>
        <i class="fa-solid console-logo fa-laptop"></i>
      </div>
    </div>

    <div class="profile-image">
      <%= image_tag("profile-pic.png", alt: "Profile Picture", class: "profile-image") %>
    </div>
  </div>
</div>

<div class="tab-container">
   <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">My Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Wishlist</a>
    </li>
  </ul>

  <div class="tab-content">
    <%# My Games Content %>
    <% @games.each do |game| %>
      <%= link_to game_path(game) do %>
      <div class="game-card">
        <img src="https://assets.xboxservices.com/assets/20/38/203850f5-1bed-4912-b25f-193ee890c97f.jpg?n=Fortnite_GLP-Page-Hero-1084_876951_1920x1080.jpg" alt="A game image"/>
          <div class="game-card-details">

          <h2><%= "#{game.title}" %></h2>
          <h3><%= "#{game.genre}" %></h3>
          <br>
          <p>We need to find a short description</p>
            <div class="game-card-rating">
            </div>
        </div>
      </div>
    <% end %>
  <% end %>

  </div>
</div>
