<div id="featureCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <%# Card 1 %>
    <div class="carousel-item active">
      <div class="card">
        <%= image_tag "controller.png" %>
        <div class="card-body">
          <h5 class="card-title">Search for your next favourite game</h5>
          <p class="card-text">Find new games based on your interests and preferences.</p>
        </div>
      </div>
    </div>
    <%# Card 2 %>
    <div class="carousel-item">
      <div class="card">
        <%= image_tag "controller.png" %>
        <div class="card-body">
          <h5 class="card-title">Build your collections of owned games</h5>
          <p class="card-text">Keep track of all the games you own and enjoy playing.</p>
        </div>
      </div>
    </div>
    <%# Card 3 %>
    <div class="carousel-item">
      <div class="card">
        <%= image_tag "controller.png" %>
        <div class="card-body">
          <h5 class="card-title">Review and share your thoughts with the community</h5>
          <p class="card-text">Let others know what you think about the games you play.</p>
        </div>
      </div>
    </div>
    <%# Card 4 %>
    <div class="carousel-item">
      <div class="card">
        <%= image_tag "controller.png" %>
        <div class="card-body">
          <h5 class="card-title">Wishlist the games you want to play</h5>
          <p class="card-text">Save the games you're interested in playing later.</p>
        </div>
      </div>
    </div>
    <%# Card 5 %>
    <div class="carousel-item">
      <div class="card">
        <%= image_tag "controller.png" %>
        <div class="card-body">
          <h5 class="card-title">Talk to our critic for personalized recommendations</h5>
          <p class="card-text">Get tailored game suggestions our AI game expert.</p>
        </div>
      </div>
    </div>
  </div>

  <%# Carousel Controls %>
  <button class="carousel-control-prev" type="button" data-bs-target="#featureCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#featureCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
