<div class="index-title">
  <h1>Search results</h1>
</div>

<div class="search-container">
  <% @games.each do |game| %>
    <%= link_to game_path(game) do %>
      <div class="game-card">
       <img src="<%= game.product_image %>" alt="<%= game.title %> image"/>
          <div class="game-card-details">
          <h2 class="game-rating"><%= "#{game.rating}" %></h2>
          <h2><%= "#{game.title}" %></h2>
          <h3><%= "#{game.genre}" %></h3>
          <br>
          <p><%= "#{game.description}" %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
