<div class="game-info-container">
  <div class="game-banner">
    <img src="<%= @game.product_image %>" alt="<%= @game.title %> image">
  </div>
  <div class="game-title-description">
    <h2 class="game-rating"><%= @game.rating %></h2>
    <h1><%= @game.title %></h1>

    <p><%= @game.description %></p>

    <div class="game-details">
      <h2>Platforms: <%= @game.platforms.pluck(:name).join(" | ") %></h2>
      <h2>Year released: <%= @game.year_published %></h2>
      <h2>Genre: <%= @game.genre %></h2>
      <h2>Publisher: <%= @game.publisher %></h2>

      <% if @user_game %>
        <%= button_to "Remove from My Games", my_game_path(@user_game), method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= button_to "Add to My Games", game_my_games_path(@game), method: :post, class: "btn btn-outline-primary" %>
      <% end %>

      <% if @user_wishlist %>
        <%= button_to "Remove from Wishlist", wishlist_path(@user_wishlist), method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= button_to "Add to Wishlist", game_wishlists_path(@game), method: :post, class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "reviews/reviews", game: @game, reviews: @game.reviews %>
