<div class="game-info-container">
  <div class="game-banner">
    <img src="<%= @game.product_image %>" alt="<%= @game.title %> image">
  </div>

  <div class="game-title-description">
    <h2 class="game-rating"><%= @game.aggregated_rating ? (@game.aggregated_rating.to_f / 10).round(1) : "N/A" %></h2>
    <h1><%= @game.title %></h1>

    <div class="left-column">
      <p><%= @game.description %></p>
      <div class="game-buttons">
        <% if @user_game %>
          <%= button_to "Remove from My Games", my_game_path(@user_game), method: :delete, class: "btn btn-primary btn-lg" %>
        <% else %>
          <%= button_to "Add to My Games", game_my_games_path(@game), method: :post, class: "btn btn-outline-primary btn-lg" %>
        <% end %>

        <% if @user_wishlist %>
          <%= button_to "Remove from Wishlist", wishlist_path(@user_wishlist), method: :delete, class: "btn btn-primary btn-lg" %>
        <% else %>
          <%= button_to "Add to Wishlist", game_wishlists_path(@game), method: :post, class: "btn btn-outline-primary btn-lg" %>
        <% end %>
      </div>
    </div>

    <div class="game-details">
      <div class="console-logos">
        <% displayed_playstation_icon = displayed_xbox_icon = displayed_pc_icon = displayed_meta_icon = false %>

        <% @game.platforms.each do |platform| %>
          <% platform_name = platform.name.downcase %>

          <% case platform_name %>
            <% when "playstation 2", "playstation 3", "playstation 4", "playstation 5" %>
              <% unless displayed_playstation_icon %>
                <i class="fa-brands fa-playstation console-logo" title="PlayStation"></i>
                <% displayed_playstation_icon = true %>
              <% end %>
            <% when "xbox", "xbox one", "xbox series x|s", "xbox 360" %>
              <% unless displayed_xbox_icon %>
                <i class="fa-brands fa-xbox console-logo" title="Xbox"></i>
                <% displayed_xbox_icon = true %>
              <% end %>
            <% when "windows", "pc", "pc (microsoft windows)", "mac" %>
              <% unless displayed_pc_icon %>
                <i class="fa-solid fa-laptop console-logo" title="PC/Mac"></i>
                <% displayed_pc_icon = true %>
              <% end %>
            <% when "meta quest 2", "meta quest 3" %>
              <% unless displayed_meta_icon %>
                <i class="fa-brands fa-meta console-logo" title="Meta Quest"></i>
                <% displayed_meta_icon = true %>
              <% end %>
          <% end %>
        <% end %>
      </div>

      <h2><span class="light-text">Released </span> <%= @game.year_published || "N/A" %></h2>
      <h2><span class="light-text">Genre </span> <%= @game.genre || "Unknown Genre" %></h2>
      <h2><span class="light-text">Publisher </span> <%= @game.publisher || "N/A" %></h2>
    </div>
  </div>
</div>

<!-- Render the reviews partial -->
<%= render partial: 'reviews/reviews', locals: { reviews: @reviews } %>
