<div class="reviews-container">
  <h2>User Reviews</h2>
  <% @reviews.each do |review| %>
    <div class="review" id="review-<%= review.id %>">
      <h3>
        <% if review.user.present? %>
          <span class="review-user"><%= review.user.username %></span>
        <% else %>
          <span class="review-user">Anonymous</span>
        <% end %>

        <% if review.created_at.present? %>
          <span class="timestamp">[<%= review.created_at.strftime("%B %d, %Y - %H:%M") %>]</span>
        <% else %>
          <span class="timestamp">[Unknown Date]</span>
        <% end %>
      </h3>

      <p class="review-content"><%= review.review %></p>

      <div class="review-votes">
        <% if user_signed_in? %>
          <%= form_with url: upvote_game_review_path(@game, review, anchor: "review-#{review.id}"), method: :patch, local: true, data: { turbo: false } do |form| %>
            <%= form.button type: 'submit', class: "vote-button upvote" do %>
              <i class="fa-solid fa-thumbs-up"></i>
            <% end %>
          <% end %>

          <span class="vote-count">Upvotes: <%= review.count %></span>

          <%= form_with url: downvote_game_review_path(@game, review, anchor: "review-#{review.id}"), method: :patch, local: true, data: { turbo: false } do |form| %>
            <%= form.button type: 'submit', class: "vote-button downvote" do %>
              <i class="fa-solid fa-thumbs-down"></i>
            <% end %>
          <% end %>
        <% else %>
          <p class="login-prompt">You must <%= link_to 'sign in', new_user_session_path %> to vote on reviews.</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


  <% if user_signed_in? %>
    <div class="review-input">
      <%= form_with(model: [@game, @game.reviews.build], local: true) do |form| %>
        <div class="field">
         <%= form.text_area :review, placeholder: "Write your review here..." %>
        </div>
        <div class="actions">
         <%= form.submit "Submit Review" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You must <%= link_to 'sign in', new_user_session_path %> to leave a review.</p>
  <% end %>
