<div class="reviews-container">
  <h2 class="user-review-title">User Reviews</h2>
  <% @reviews.each do |review| %>
    <div class="review" id="review-<%= review.id %>">
      <div class="review-header">
        <% if review.user.present? %>
          <div class="review-user-info">
            <%= link_to user_path(review.user) do %>
              <%= image_tag(review.user.profile_picture_url, alt: review.user.username, class: "review-user-image") %>
            <% end %>
            <span class="review-user">
              <%= link_to review.user.username, user_path(review.user) %>
            </span>
          </div>
        <% else %>
          <div class="review-user-info">
            <%= image_tag("profile-pic.png", alt: "Anonymous User", class: "review-user-image") %>
            <span class="review-user">Anonymous</span>
          </div>
        <% end %>

        <% if review.created_at.present? %>
          <span class="timestamp">[<%= review.created_at.strftime("%B %d, %Y") %>]</span>
        <% else %>
          <span class="timestamp">[Unknown Date]</span>
        <% end %>
      </div>

      <p class="review-content"><%= review.review %></p>

      <div class="review-votes">
        <% if user_signed_in? %>
          <%= form_with url: upvote_game_review_path(@game, review, anchor: "review-#{review.id}"), method: :patch, local: true, data: { turbo: false } do |form| %>
            <%= form.button type: 'submit', class: "vote-button upvote" do %>
              <i class="fa-solid fa-thumbs-up"></i>
            <% end %>
          <% end %>

          <span class="vote-count"><%= review.count %></span>

          <%= form_with url: downvote_game_review_path(@game, review, anchor: "review-#{review.id}"), method: :patch, local: true, data: { turbo: false } do |form| %>
            <%= form.button type: 'submit', class: "vote-button downvote" do %>
              <i class="fa-solid fa-thumbs-down"></i>
            <% end %>
          <% end %>
        <% else %>
          <p class="login-prompt">You must <%= link_to 'sign in', new_user_session_path %> to vote on reviews.</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
