<!DOCTYPE html>
<html>
  <head>
    <title>Controller Critic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
  <%= render "shared/navbar" %>


  <!-- Render all flash messages dynamically -->
  <% flash.each do |key, message| %>
    <div class="flash-message <%= key %>"><%= message %></div>
  <% end %>

  <%= yield %>
</body>
